REDIS_PASS="" # internal redis password
JWT_SECRET="" # must be 18 chars long due to weird JWT requirements
AUTH_SECRET="" # required for dashboard oath setup
DOMAIN="" # the base domain the whole thing runs on, with no leading period
COMPOSE_PROFILES="infra,k3s" # a comma-seperated list of the labs you want to run preceded by infra, e.g. "infra,k3s"